@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik {
  font-family: 'Rubik', sans-serif;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #1b0029;
}

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-r from-[#ff6a00] to-[#ee0979] text-white;
  }
}

.grad {
  background: linear-gradient(85.98deg, #ffe974 10.89%, #d06cff 91.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mw{
  max-width: 1200px;
}